<div>
  <img
    src="{{ product?.url }}"
    class="card-img-top"
    style="max-height: 300px; cursor: pointer"
    alt="{{ product?.name }}"
    [routerLink]="['/product-list', product?.id]"
  />
  <div class="card-body">
    <h5 class="card-title">{{ product?.name }}</h5>
    <p class="card-text">
      {{ product?.description }}
    </p>
    <span
      ><b>{{ product?.price | currency : "USD" : "symbol" : "1.2-2" }}</b></span
    >
    <select
      class="form-select my-2"
      aria-label="quantity"
      [(ngModel)]="quantity"
      id="{{ product?.id }}"
    >
      <option value="1" selected>1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <button class="btn btn-primary w-100" (click)="handleCart(product)">
      Add to cart
    </button>
  </div>
</div>
