<div class="d-flex justify-content-between align-items-center gap-5 my-4">
  <img src="{{ cart?.url }}" style="width: 100px; border-radius: 5px" />
  <div>
    <h6>{{ cart?.name }}</h6>
    <p>{{ cart?.price | currency : "USD" : "symbol" : "1.2-2" }}</p>
    <div class="input-group mb-3">
      <span class="input-group-text">Amount:</span>
      <input
        type="number"
        class="form-control"
        aria-label="Amount of products"
        value="{{ cart?.quantity }}"
        name="quantity"
        min="1"
        [(ngModel)]="amount"
        (ngModelChange)="handleAmountChange($event)"
      />
    </div>

    <button class="btn btn-danger" (click)="handleRemoveCart(cart)">
      Remove from cart
    </button>
  </div>
</div>
